body {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
}
.app {
   width: 100vw;
   height: 100vh;

   background-color: $--VeryDarkBlue;
}
.todo-list,
.form {
   width: 550px;
   background-color: $--VeryDarkDesaturatedBlue;
   margin: 0 auto;
   border-radius: 3px;
}
.form {
   padding: 15px;
   margin-bottom: 15px;

   .input {
      width: 100%;
      background: transparent;
      border: none;
      color: $--LightGrayishBlue;

      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;

      &:focus {
         outline: none;
      }
   }
}

.cercle {
   width: 25px;
   height: 25px;
   border-radius: 100%;
   border: 0.1px solid $--LightGrayishBlue;
   //    display: inline-block;
   margin-right: 25px;
}
.todo {
   padding: 15px;
   //  border-bottom: 0.1px solid white;
   border-bottom: 0.1px solid $--VeryDarkGrayishBlue;
   &__text {
      color: $--LightGrayishBlue;

      &:first-letter {
         text-transform: capitalize;
      }
   }
   &__check {
      width: 25px;
      height: 25px;
      border: 0.1px solid $--LightGrayishBlue;
      border-radius: 100%;
      margin-right: 25px;

      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         border: 1px solid $--CheckBackground;
      }
   }
}
.flex {
   display: flex;
   justify-content: space-between;
}

.flex-center {
   display: flex;
   align-items: center;
}
.todo-menu {
   padding: 20px;
   color: $--DarkGrayishBlue;
   font-size: 12px;
}
.todo-title {
   color: white;
   font-size: 40px;
   letter-spacing: 10px;
   width: 550px;
   margin: 0 auto;
   margin-bottom: 50px;
}
.todo-container {
   transform: translateY(-56%);
}
